build/index.html
<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <title>Starter Template</title>
    <!--
    if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    -->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>this is a container</h1>
          <p>this is a icon <i class="glyphicon glyphicon-euro"></i></p>
        </div>
      </div>
    </div>
    <section class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Section One</h2>
          <p>best section test and this is a test</p>
        </div>
      </div>
    </section>
    <section class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Section Two</h2>
          <p>best section test and this is a test</p>
        </div>
      </div>
    </section>
  </body>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="js/app.js"></script>
</html>

src/views/index.pug
doctype html
html(lang='eng')
	include _header.pug
	body
		.container
			.row
				.col-md-12
					h1 this is a container
					p this is a icon <i class="glyphicon glyphicon-euro"></i>
		include _section.pug
		include _section2.pug
	include _footer.pug
